django==6.0.1
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
python-dotenv==1.2.1
asgiref==3.11.0
psycopg2-binary==2.9.11
sqlparse==0.5.5
tzdata==2025.3
gunicorn==24.1.1
whitenoise>=6.0.0
dj-database-url==3.1.0
django-storages[s3]==1.14.6
pillow==12.1.0
celery[redis]==5.4.0
httpx==0.28.1
rapidfuzz>=3.11.0
